.mydiv {
    border: 1px solid #ccc;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: rgba(22, 22, 11, 0.8);
    color: white;
    color: white;
    font-size: 20px;
    font-family: "微软雅黑";
}

.mydiv2 {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px dotted #ccc;
    text-align: center;
    background-color: rgba(66, 235, 99, 0.8);
    color: white;
    word-wrap: break-word;
    font-size: 20px;
    font-family: "微软雅黑";
    transition: background-color 0.5s;
}

.mydiv3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mydiv2:hover {
    background-color: rgba(999, 0, 0, 0.7);
}

.div2 {
    height: 15px;
    background-color: rgba(66, 235, 99, 0.8);
    content: '这是一段你无法复制的话~~~'；
}

.baidu {
    color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 4px;
    background: #330000;
    border-radius: 4px;
    transition: color 0.5s;
    line-height: 60px;
}

.baidu:hover {
    color: blue;
    /* background-image: url(../img/123123.jpg);*/
}

.baidu:active {
    background: rgba(66, 235, 99, 0.8);
}

#p1 {
    font-family: "微软雅黑", "Microsoft yahei";
    font-size: 2em;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
}

.table1 th {
    background-color: #22aaaa;
}

.table1 th,
td {
    text-align: center;
    border: 1px solid green;
    line-height: 30px;
}

.table1 td:hover {
    background: #ccc;
}

.form1 {
    background-color: rgba(253, 245, 230, 0.8);
    font-family: "微软雅黑";
    transition: background-color 0.3s;
}

.form1:hover {
    background-color: rgba(202, 255, 112, 0.5);
}
